<div class="top-panel">
    <div arrow-control="$ctrl.arrowControl[$dir]()" class="parkscenter-hud">
        <div class="sidebar">
            <div class="item-list">
                <div class="thumbnail item-list-item">
				    <img src="images/ParksCenter_2021_Logo-trace.png">
                </div>
                <div class="clock item-list-item">
                    <span ng-show="$ctrl.clockDate">{{$ctrl.clockDate | date:'m:ss'}}&nbsp;</span>
                </div>
                <div class="header item-list-item" ng-click="$ctrl.curIndex = -1; $ctrl.indexChanged()">
                    Times Guide
                </div>
                <div class="short-name-list" id="short-name-list">
                    <div ng-repeat="item in $root.showData"
                         id="short-name-{{$index+1}}"
                        class="live item-list-item short-name short-name-{{$index+1}}" ng-class="$ctrl.getItemState($index)"
                        ng-click="$ctrl.curIndex = $index; $ctrl.indexChanged()">
                        {{item.shortName}}
                    </div>
                </div>
                <div class="logo item-list-item" ng-click="$ctrl.curIndex = $root.showData.length; $ctrl.indexChanged()">
				    <img src="images/wdwnt_logo_2017_v2.png"/>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="body">
                &nbsp;
            </div>
            <div class="footer" id="footer">
                <span>{{$ctrl.getCurItem().longName}}</span>
            </div>
            <div class="footer-editor">
                Edit lower third: <input ng-model="$ctrl.getCurItem().longName" ng-model-options="{debounce: 1000}">
            </div>
        </div>
    </div>
    <div class="right-sidebar">
        vMix Automations:
        <md-button class="md-raised md-primary" ng-click="$ctrl.white()">Cut to white</md-button>
        <md-button class="md-raised md-primary" ng-click="$ctrl.intro()">Start show</md-button>
        <br>
        <md-button class="md-raised md-primary" ng-click="$ctrl.end()">Show endtag</md-button>
        <md-button class="md-raised md-primary" ng-click="$ctrl.cleanTheTubes()">Cleaning the tubes</md-button>
        <md-button class="md-raised md-primary" ng-click="$ctrl.postshow()">Post-show</md-button>
        <br>
        <md-button class="md-raised md-primary" ng-click="$ctrl.enablePride()">Pride mode</md-button>
        <br>
        Chat adjustment code: (right click chat input, properties, paste this, click Update)<br>
        <input disabled value="javascript:document.body.innerHTML + '<style>.chat-container{width: 547px !important;height: 734px !important;}.chat-container .messages {height: 682px !important;}</style>';">
    </div>
</div>
<div class="bottom-panel">
    <md-button class="md-raised md-primary" ng-click="$ctrl.buzz()">Buzzer sound test</md-button>
</div>
<div ng-show="false">
	<img ng-repeat="src in $ctrl.imageList track by $index" ng-src={{src}}>
</div>