<div class="top-panel">
	<div class="parkscenter-hud parkscenter-vs-hud">
		<div class="main">
			<div class="body">
				<div style="width: 100%; height: 100%; display: flex; align-items: flex-end; justify-content: center">
					<bracket model="$root.vsShowData" editable="true"></bracket>
				</div>
			</div>
			<div class="footer" id="footer">
			</div>
		</div>
	</div>
	<div class="right-sidebar">
		<md-button class="md-raised md-primary" ng-click="$ctrl.gotoShow()">Start show</md-button>
	</div>
</div>