body{
    display: flex;
}

.train-view{
    width: 960px;
    height: 1080px;
    background-color: #9999FF;
    overflow: visible;
    margin-right: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.word-holder{
    flex-grow: 1;
    width: 1160px;
    display: flex;
}

.word{
    width: 960px;
    user-select: none;
}

.word-holder button{
    width: 180px;
    height: 50px;
    margin: auto;
}

.controls{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}