<div class="tts-main">
    <div class="tts-board">
        <div class="sidebar">
            <img src="images/logo.png" style="width: 100%">
            <div class="player-container">
                <div class="player">
                    <div class="name" ng-model="p1name" contenteditable>Player 1</div>
                    <div class="points" ng-model="p1points" contenteditable>$</div>
                </div>
                <div class="player">
                    <div class="name" ng-model="p2name" contenteditable>Player 2</div>
                    <div class="points" ng-model="p2points" contenteditable>$</div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="grid" ng-if="!$ctrl.selectedSquare">
                <display-square ng-repeat="square in $ctrl.board" square="square" background-click="$ctrl.solo($index)"></display-square>
            </div>
            <div class="solo" ng-if="$ctrl.selectedSquare">
                <display-square square="$ctrl.selectedSquare" background-click="$ctrl.grid()" hide-mark="true"></display-square>
            </div>
        </div>
    </div>
    <div class="tts-side-panel">
        <a href="tonysTownSquares.vmix">Download vMix template</a>
        <md-button class="md-raised md-primary" ng-click="$ctrl.white()">Cut to white</md-button>
        <div>
            <div>
                <input ng-model="soloCut" ng-trim="false" ng-change="$ctrl.keypress(soloCut); soloCut=''" placeholder="Click to use hotkeys">
            </div>
            Cut to square:
            <div class="button-grid">
                <button ng-repeat="i in $ctrl.NUM_PAD_ORDER" ng-click="$ctrl.solo($index)" ng-bind="i"></button>
                <button class="doublewide" ng-click="$ctrl.grid()">Grid (0, g)</button>
                <button ng-click="$ctrl.host()">Host (., h)</button>
            </div>
        </div>
        <md-button class="md-raised md-primary" ng-click="$ctrl.clearBoard()">Clear the board</md-button>
    </div>
</div>