<div class="tts-main">
    <div class="tts-board">
        <div class="sidebar">
            hey some stuff will go here
        </div>
        <div class="main">
            <div class="grid" ng-if="!$ctrl.selectedSquare">
                <display-square ng-repeat="square in $ctrl.board" square="square" background-click="$ctrl.solo($index)"></display-square>
            </div>
            <div class="solo" ng-if="$ctrl.selectedSquare">
                <display-square square="$ctrl.selectedSquare" background-click="$ctrl.grid()" hide-mark="true"></display-square>
            </div>
        </div>
    </div>
    <div class="tts-side-panel">
        <a href="tonysTownSquares.vmix">Download vMix template</a>
        <md-button class="md-raised md-primary" ng-click="$ctrl.white()">Cut to white</md-button>
        <md-button class="md-raised md-primary" ng-click="$ctrl.host()">Cut to host</md-button>
        <md-button class="md-raised md-primary" ng-click="$ctrl.grid()">Cut to grid</md-button>
    </div>
</div>