<div>
    <input ng-model="ip">
    <button ng-click="ctrl.connectToVMix(ip)">Connect</button>
</div>
<hr>
<div ng-if="ctrl.vMixInputNames">
    <div class="actions">
        <button ng-click="ctrl.showAllShot()">
            6-shot
        </button>
        <button ng-click="ctrl.showFiveShot()">
            5-shot
        </button>
        <button ng-click="ctrl.showFourShot()">
            4-shot
        </button>
        <button ng-click="ctrl.showTwoShot()">
            2-shot
        </button>
        <button ng-click="ctrl.showStillStore()">
            Still store
        </button>
        <button ng-click="ctrl.showOneShot()">
            GM view
        </button>
    </div>
    <hr>
    <div class="slot-one-selector" style="display: flex">
        <button ng-repeat="inputName in ctrl.playerInputNames track by $index"
                ng-click="ctrl.setSlotOne(inputName)"
        >
            Set slot 1 to<br>{{ inputName }}
        </button>
    </div>
    <div>
        Slot 1:
        <select ng-model="ctrl.slotOne" ng-change="ctrl.setSlotOne(ctrl.slotOne)">
            <option ng-repeat="name in ctrl.vMixInputNames track by $index"
                    ng-value="name"
            >
                {{ name }}
            </option>
        </select>
    </div>
    <hr>
    <div class="slot-two-selector" style="display: flex">
        <button ng-repeat="inputName in ctrl.playerInputNames track by $index"
                ng-click="ctrl.setSlotTwo(inputName)"
        >
            Set slot 2 to<br>{{ inputName }}
        </button>
    </div>
    <div>
        Slot 2:
        <select ng-model="ctrl.slotTwo" ng-change="ctrl.setSlotTwo(ctrl.slotTwo)">
            <option ng-repeat="name in ctrl.vMixInputNames track by $index"
                    ng-value="name"
            >
                {{ name }}
            </option>
        </select>
    </div>
    <hr>
    <div class="still-store-selector" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); grid-gap: 5px;">
        <button ng-repeat="inputName in ctrl.stillStoreNames track by $index"
                ng-click="ctrl.setStillStore(inputName)"
        >
            Set still store to<br>{{ inputName }}
        </button>
    </div>
    <div>
        Still store / solo view:
        <select ng-model="ctrl.stillStore" ng-change="ctrl.setStillStore(ctrl.stillStore)">
            <option ng-repeat="name in ctrl.vMixInputNames track by $index"
                    ng-value="name"
            >
                {{ name }}
            </option>
        </select>
    </div>
    <hr>
    <div class="audio-buttons" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); grid-gap: 5px;">
        <button ng-repeat="inputName in ctrl.audioNames track by $index"
                ng-click="ctrl.playAudio(inputName)"
        >
            Play/pause {{ inputName }}
        </button>
    </div>
</div>