.tts-main{
    --app-height: 720px;
	--app-width: 1280px;
    --sidebar-size: 325px;
    --chroma-key: #00ff00;

    --small-box-size: calc(var(--app-height) / 3);

    display: flex;
    justify-content: flex-start;
}

.tts-board{
	width: var(--app-width);
	height: var(--app-height);
	background-color: var(--chroma-key);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
    border: 1px solid red;
}

.tts-board .sidebar{
    width: var(--sidebar-size);
    max-width: calc(var(--app-width) - var(--app-height));
    height: 100%;
    background-color: #10bf02;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tts-board .sidebar .player-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tts-board .sidebar .player-container .player{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: 3px solid white;
    width: calc(100% - 40px);
    margin: 20px;
}
.tts-board .sidebar .player-container .player div:focus{
    outline: unset;
}

.tts-board .sidebar .player-container .player .name{
    color: white;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 24pt;
    width: 100%;
    text-align: center;
}

.tts-board .sidebar .player-container .player .points{
    color: white;
    font-family: 'Courier New', monospace;
    font-size: 16pt;
    width: 100%;
}

.tts-board .main{
    width: calc(var(--app-width) - var(--sidebar-size));
    height: 100%;
    display: flex;
    justify-content: center;
    /*background: linear-gradient(90deg, green 50%, white 50%);*/
    background-color: white;
}

.tts-board .grid,
.tts-board .solo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(var(--small-box-size) * 3);
    height: calc(var(--small-box-size) * 3);
}

.tts-board .grid display-square{
    width: var(--small-box-size);
    height: var(--small-box-size);
}

.tts-board .solo display-square{
    width: calc(var(--small-box-size) * 3);
    height: calc(var(--small-box-size) * 3);
}

.tts-side-panel{
    display: flex;
    flex-direction: column;
}

.tts-side-panel .button-grid{
    --button-size: 50px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(var(--button-size) * 3 + 30px);
    height: calc(var(--button-size) * 4 + 30px);
}

.tts-side-panel .button-grid button{
    width: var(--button-size);
    height: var(--button-size);
    margin: 5px;
}

.tts-side-panel .button-grid button.doublewide{
    width: calc(var(--button-size) * 2 + 10px);
}

/* display-square specific logic */

display-square{
    background-color: var(--chroma-key);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid red;
}

display-square .background{
    width: 100%;
    height: 100%;
    position: relative;
}

display-square .background:focus,
display-square .marker input:focus,
display-square .name div:focus{
    outline: unset;
}

display-square .marker{
    width: 30%;
    height: 30%;
    background-color: gray;
    background-size: contain;
    background-repeat: no-repeat;
}

display-square .marker input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    caret-color: gray;
}

display-square .name{
    width: 100%;
    height: 12%;
    background-color: black;
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
}

display-square .name div{
    min-width: 100px;
    height: 100%;
    text-align: center;
}
