.strikes-holder{
    position: absolute;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: space-around;
}

.strikes-holder>div{
    height: 100%;
    display: flex;
}
.strikes-holder .strike{
    height: 100%;
}

.board-points{
    font-family: 'ferranti88regular', 'Lucida Console', Monaco, monospace;
    font-size: 28pt;
    background-color: black;
    color: yellow;
    padding: 5px;
    letter-spacing: 1px;
}
