.fanly-feud {
    --answer-width: 400px;
    --answer-height: 90px;

    width: 100%;
    height: 100%;
    background-color: #ffc106;
    display: flex;
    justify-content: center;
}

.fanly-feud .shadow{
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

/* Strikes */

.strikes-holder{
    position: absolute;
    display: flex;
    justify-content: space-around;
    z-index: 10;
}

.strikes-holder>div{
    height: 100%;
    display: flex;
}
.strikes-holder .strike{
    width: 250px;
    height: inherit;
}

/* Teams */

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    background-color: #ffd31b;
    padding: 5px;
    border: solid black 2px;
}

.team .team-name{
    font-size: 24pt;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

@keyframes buzzer-flashing {
    from {background-color: #ffd31b;}
    to {background-color: yellow;}
}

.team-buzzed-in{
    animation-name: buzzer-flashing;
    animation-duration: 250ms;
    animation-iteration-count: infinite;
}

@keyframes winner-flashing {
    0% {background-color: #ffd31b;}
    50% {background-color: yellow;}
    100% {background-color: #ffd31b;}
}

.team-won{
    animation-name: winner-flashing;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

/* Main center */

.main-center{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Board placeholders */

.faux-board {
    width: 584px;
    height: 264px;
    border: 2px solid black;
}

/* Board */

.board{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(var(--answer-width) * 2);
    height: calc(var(--answer-height) * 4);

    border-top: 10px solid #ecc758;
    border-bottom: 10px solid #ecc758;
}

.board-points{
    font-family: 'ferranti88regular', 'Lucida Console', Monaco, monospace;
    font-size: 28pt;
    background-color: black;
    color: yellow;
    padding: 5px;
    letter-spacing: 1px;
    width: 70px;
    white-space: pre;
    text-align: center;
}

.main-points{
    border: 10px solid #ecc758;
}

.board-points-border-wrap{
    border: 2px solid black;
    border-bottom: none;
}

.board-text{
    font-family: "Courier New", Courier, monospace;
    font-size: 28pt;
    color: red;
    background-color: #ecc758;
    padding-left: 18px;
}

.board-with-bumpers{
    display: flex;
    border: 2px solid black;
}

.board-bumper{
    width: 40px;
    height: calc(var(--answer-height) * 4 + 20px);
    font-weight: bold;
}

/* Answers */

.answer{
    width: var(--answer-width);
    height: var(--answer-height);
    overflow: hidden;
    border: solid #9f9279 2px;
    box-sizing: border-box;
}

.answer div{
    height: 100%;
}

.answer-blank{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-left: 0;
}

.answer-exists{
    position: relative;
    font-size: 22pt;
}

.answer-cover{
    color: white;
    background-color: orange;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.answer-cover-buffer{
    content: "\00a0";
    display: inline-block;
    background-color: #6bdfff;
    border: solid black 1px;
    width: calc(var(--answer-width) / 2 - 25px);
    height: calc(var(--answer-height) * 2 / 5) !important;
    margin-top: 14px;
}

.answer-cover-number{
    margin-top: 14px;
}

.answer-cover-visible{
    top: 0;
}

.answer-cover-hidden{
    top: var(--answer-height);
    transition-property: top;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.answer-body{
    display: flex;
    background-color: black;
    font-family: "Arial Black", Gadget, sans-serif;
}

.answer-body>div{
    padding-top: 8px;
}

.answer-text{
    flex-grow: 1;
    text-align: center;
    color: white;
}

.answer-points{
    width: 50px;
    text-align: center;
    color: gold;
    border: solid gold 4px;
    box-sizing: border-box;
    padding-top: 18px !important;
}