@font-face {
    font-family: 'ferranti88regular';
    src: url('../fonts/ferranti.woff2') format('woff2'),
         url('../fonts/ferranti.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}